$position: static, relative, absolute, fixed, sticky, inherit;
$direction: top, right, bottom, left;
$properties: 
    w           width           10%,
    h           height          10%,
    fs          font-size       .5rem,
    opacity     opacity         10%,
    p           padding         .25rem,
    m           margin          .25rem,
    b           border          1px,
    r           border-radius   .2rem,
;
@mixin box($p:0, $m:0, $b:0, $ba:border, $ma:margin, $pa: padding) {
    #{$ma}: $m;
    #{$ba}: $b;
    #{$pa}: $p;
}
@each $p in $position {
    %p-#{$p} { position: $p; }
}
@each $d in $direction {
    @for $i from 0 through 20 {
        $x: $i * 5;
        %#{$d}-#{$x} { #{$d}: $x * 1%; }
    }
}
@each $className, $attr, $unit in $properties {
    @for $i from 0 through 10 {
        %#{$className}-#{$i * 10}{
            #{$attr}: $i * $unit;
}}}
%zeroise {
    @include box();
}